/* Style the body */
/*index.html, software.html & games.html body*/
body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #11b4d1;
    color: white;
    font-size: 30px;
  }
  
  /* Page Content */
  .content {padding:20px;}

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #11b4d1;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0fb87a;
    color: white;
  }

  .float-parent-element { 
    width: 100%; 
} 

.float-child-element { 
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
} 

.blue { 
    text-align: center;
} 

/*software.html*/

.maincard{
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  margin-right: 10%;
}

.card {
  margin-top: 2%;
  margin-left: 12%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  height: 550px;
  text-align: center;
  font-family: arial;
  }
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.card button:hover {
    opacity: 0.7;
  }

  .h{
    text-align: center;
  }

/*games.html*/

 #image {
   display: flex; 
   justify-content: center;
   align-items: center;
}

 #watermark span{
   display: none;
}

#watermark svg path{
    display: none;   
}

#watermark-link{
    display: none;   
}

#watermark-background{
    display: none;   
}

canvas{
  width: 50% !important;
  height: 50% !important;
  position: relative !important;
  left: 25% !important;
  top: 25% !important;
  z-index: 1 !important;
}

 /*backrooms.html*/
 .bodybackrooms{
    background-image: url('../pictures/backrooms.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.topnavbackrooms {
  overflow: hidden;
  background-color: #cee409;
}

.topnavbackrooms a{
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbackrooms a:hover {
  background-color: #ddd;
  color: black;
}

.topnavbackrooms a.active {
  background-color: #0fb87a;
  color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

/*404.html*/

 .pos{
  margin-top: 20%;

 }

 .error404 {
  text-align: center;
  font-size: 3em;
 }

